html {
  background-image: url();
}

.items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
  /* gap: 5%; */
  /* margin: 5%; */
}

.item {
  border: 5px solid rgb(255, 0, 0);
  border-radius: 32px;
  padding: 5%;
  margin: 5%;
  background-color: rgba(186, 186, 186, 0.927);
  font-family: monospace;
  font-size: 20%;
  justify-content: center;
}

.item__image {
  height: 100px;
}